<!DOCTYPE html>
<html>

<head>
    <title>Reviews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/reviewPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>{{book.title}}</p>
    <p>{{book.author}}</p>
    <p>{{book.isbn}}</p>
    {% for review in reviews %}
    <ul>
        <li>{{review.review}}</li>
    </ul>
    {% endfor %}
    <form class="form-group" action="{{url_for('confirm')}}" method="post">
        <label for="rating">Please leave a rating: (0-5)</label>

        <select name="rating" id="rating">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="review">Please leave a review:</label>
        <input type="text" name="review" id="review">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>

</html>